img {
  max-width: 100%;
}

html {
  font-size: 10px;
}

body {
  padding: 0;
  margin: 0;
  background: white;
  height: 100vh;
}

.players {
  display: flex;
  position: fixed;
  width: 100%;
  bottom: 0;
  justify-content: center;
  align-items: flex-end;
  transition: margin-bottom 0.5s cubic-bezier(0.33, -0.38, 1, 2.89);

  &__player {
    flex: 1;
    width: fit-content;
    display: grid;
    justify-items: center;
  }

  &__avatar {
    max-width: min(12.5rem, 100%);
    min-width: 10rem;
  }

  @media screen and (max-width: 767px){
    justify-content: flex-start;
    overflow: auto;
    padding-top: 1rem;
    border-top: 1px solid black;

    &__player {
      flex: 0;
    }

    &--hidden {
      margin-bottom: -110%;

      .toggle-button {
        bottom: 1rem;
      }
    }

    .toggle-button {
      display: block;
      transition: bottom 0.5s ease-in-out;
    }
  }
}

.toggle-button {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  background: grey;
  z-index: 100;
  position: fixed;
  bottom: 14rem;
  left: 1rem;
  // display: none;
  // top: 0;
  // left: 1rem;
  // transform: translateY(-50%);
}

.players-container {
  position: relative;
  position: fixed;
  bottom: 0;
  height: 100px;
  width: 100%;
}